aiohttp>=3.9.0,<3.10.0

aiofiles>=23.2.1,<23.3.0

async-lru>=2.0.4,<2.1.0

httpx>=0.25.0,<1.0.0

dnspython==2.7.0, <2.8.0

pymongo==4.13.0, <4.14.0

gitpython>=3.1.41,<3.2.0

python-dotenv==0.21.0

telegraph>=2.2.0,<2.3.0

uvloop>=0.17.0,<1.0.0

pyrotgfork

# @ git+https://github.com/TelegramPlayGround/pyrogram.git@a9427b4d4c5e35e0e826a9e50345a0e61b61f561

PyTgCrypto @ git+https://github.com/TelegramPlayGround/pyrogram-tgcrypto
