# Note to self
# Change reqs in pyproject.toml too

aiohttp>=3.9.0

aiofiles>=23.2.1

async-lru>=2.0.4

httpx>=0.25.0

dnspython==2.7.0

pymongo==4.13.0

gitpython>=3.1.41

python-dotenv==0.21.0

telegraph>=2.2.0

uvloop==0.21.0

# pyrotgfork

pyrotgfork @ https://github.com/TelegramPlayground/PyroTGFork/archive/89297a6b45c56c1029f4a93634f937a8a5c2e3cb.zip

pytgcrypto @ git+https://github.com/TelegramPlayGround/pyrogram-tgcrypto
