aiohttp>=3.9.0

aiofiles>=23.2.1

async-lru>=2.0.4

httpx>=0.25.0

dnspython==2.7.0

pymongo==4.13.0

gitpython>=3.1.41

python-dotenv==0.21.0

telegraph>=2.2.0

uvloop==0.21.0

# pyrotgfork

pyrotgfork @ git+https://github.com/TelegramPlayground/pyrogram@a496cd13b259b321d6997f18d5c08d017876f660

pytgcrypto @ git+https://github.com/TelegramPlayGround/pyrogram-tgcrypto
